@inherits BaseComponent
@using Despro.Blazor.Base.Components
@using Despro.Blazor.Layout.Components
@using Despro.Blazor.Layout.Components.Buttons
@using Despro.Blazor.Layout.Components.Icons

<div class="text-center py-4">
    <Icon class="mb-2 icon icon-lg" TextColor=@Options.StatusColor IconType=@Options.IconType />

    <h3>@Options.MainText</h3>
    <div class="text-secondary">
        @foreach (var i in textArray)
        {
            @i
            <br />
        }
    </div>
</div>

<div class="modal-footer">
    <div class="w-100">
        <Row>
            @if (!string.IsNullOrWhiteSpace(Options.CancelText))
            {
                <RowCol>
                    <Button class="w-100" @onclick="@Cancel">
                        @Options.CancelText
                    </Button>
                </RowCol>
            }
            @if (!string.IsNullOrWhiteSpace(Options.OkText))
            {
                <RowCol>
                    <Button class="w-100" BackgroundColor="@Options.StatusColor" @onclick="@Ok">
                        @Options.OkText
                    </Button>
                </RowCol>
            }
        </Row>
    </div>
</div>