@using Despro.Blazor.Base.Components
@using Despro.Blazor.Base.BaseGenerals;
@inherits BaseComponent

<HtmlElement Tag="@HtmlTag"
             class="@ClassNames"
             href="@Href"
             @onclick="OnClick"
             style="@Style"
             @attributes="@UnmatchedParameters">
    @if (StatusTop != BaseColor.Default)
    {
        <div class="@StatusClassNames("top", StatusTop)"></div>
    }
    @if (StatusStart != BaseColor.Default)
    {
        <div class="@StatusClassNames("start", StatusStart)"></div>
    }

    @ChildContent
</HtmlElement>